[Unit]
Description=Strivly Manager Controller
After=network.target

[Service]
Type=simple
ExecStart=/tmp/strivly/manager.sh
Restart=always

[Install]
WantedBy=default.target
