[Unit]
Description=Strivly Scaler Controller
After=network.target

[Service]
ExecStart=/tmp/strivly/scaler.sh
Restart=always

[Install]
WantedBy=default.target
